
<div id="botman-container" data-name="{{ name }}">
    <script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>
        <script>
            var botmanWidget = {
                frameEndpoint: '/botman',
                chatServer: "{{ path('app_chat',{'id': id}) }}",
                introMessage: 'Hello ' + document.getElementById('botman-container').dataset.name,
                title: 'BotMan',
            }; 
        </script>
</div>